<div class="row">
    <div class="col-6 form-group container-fluid">
        <label for="buscar">Buscar Empleado</label>
        <input type="text" id="buscar" class="form-control" [(ngModel)]="termino" (change)="onChangeBuscar()">
    </div>
    <div class="col-6 container-fluid text-right">
        <button (click)="crearEmpleado()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Crear Empleado
        </button>
    </div>
</div>

<div class="alert alert-warning" role="alert" *ngIf="empleados.length == 0">
    No hay registros
</div>

<div class="container" *ngIf="empleados.length > 0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="margin-bottom: 0">
            <thead>
                <tr>
                    <th scope=" col ">Id</th>
                    <th scope="col ">Tipo Documento</th>
                    <th scope="col ">Número Documento</th>
                    <th scope="col ">Nombres</th>
                    <th scope="col ">Apellidos</th>
                    <th scope="col ">Area</th>
                    <th scope="col ">Sub Area</th>
                    <th scope="col ">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados ">
                    <td scope="row ">{{empleado.idEmmpleado}}</td>
                    <td>{{empleado.nombreTipoDocumento}}</td>
                    <td>{{empleado.numeroDocumento}}</td>
                    <td>{{empleado.nombres}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.nombreArea}}</td>
                    <td>{{empleado.nombreSubArea}}</td>
                    <td>
                        <button (click)="guardarEmpleado(empleado) " type="button " class="btn btn-primary mr-1 ">
                            <i class="fa fa-pencil "></i>
                        </button>
                        <button (click)="eliminarEmpleado(empleado) " type="button " class="btn btn-danger ">
                            <i class="fa fa-trash-o "></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cantPaginas> 1">
        <div class="row m-b-5">
            <div class="col-6 text-left">
                <button type="button" class="btn btn-primary" (click)="obtenerEmpleados(paginaActual - 1, 10, termino)" *ngIf="paginaActual !== 1"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="col-6 text-right p-r-10">
                <button type="button" class="btn btn-primary" (click)="obtenerEmpleados(paginaActual + 1, 10, termino)" *ngIf="paginaActual !== cantPaginas"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="row text-center m-l-30">
            <div class="col-1 m-0" *ngFor="let i of paginas">
                <button type="button" class="btn btn-primary" (click)="obtenerEmpleados(i, 10, termino)">{{i}}</button>
            </div>
        </div>
    </div>
    <div class="row m-t-5" *ngIf="cantPaginas> 1">
        <div class="col-6 text-left">
            <button type="button" class="btn btn-primary" (click)="obtenerEmpleados(1, 10, termino)"><i class="fa fa-arrow-left"></i>Primero</button>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary" (click)="obtenerEmpleados(cantPaginas, 10, termino)">Ultimo<i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</div>