<div class="container-fluid text-right">
    <button (click)="crearArea()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Crear Area
    </button>
</div>

<div class="alert alert-warning" role="alert" *ngIf="areas.length == 0">
    No hay registros
</div>

<div class="container" *ngIf="areas.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre area</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let area of areas">
                <td>{{area.idArea}}</td>
                <td>
                    <input [(ngModel)]="area.nombreArea" type="text" name="nombre" required="true" class="form-control" />
                </td>
                <td>
                    <button (click)="guardarArea(area)" type="button" class="btn btn-primary mr-1">
                        <i class="fa fa-save"></i>
                    </button>
                    <button (click)="eliminarArea(area)" type="button" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>